Cold Email AI Agent.json
{
  "name": "Cold Email AI Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "4135b502-b2d1-4813-8153-b92dae8018f4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1vIWT1YH4kSvU4kkYpuMJh_bgiTG_CWtNMK8Hk-a7nqw",
          "mode": "list",
          "cachedResultName": "Demo lead for gmail bot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vIWT1YH4kSvU4kkYpuMJh_bgiTG_CWtNMK8Hk-a7nqw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vIWT1YH4kSvU4kkYpuMJh_bgiTG_CWtNMK8Hk-a7nqw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "cf95d344-e8ee-43b9-895a-ae4deb124d86",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u8PRmSgbn2k0IPMY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Name:  {{ $json.Name }}\nCompany: {{ $json.Company }}\nWebsite: {{ $json.Website }}\nEmail: {{ $json.Email }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert B2B cold email copywriter and sales strategist.\n\nYour task is to write highly personalized, short, and conversion-focused cold emails to potential clients.\n\nGoal:\nGet a reply, start a conversation, and book a call.\n\nInstructions:\n- Keep the email under 120 words\n- Use a friendly, human, non-salesy tone\n- Avoid spammy words (no \"free\", \"guarantee\", \"limited offer\")\n- Personalize using the company name, industry, and any known detail\n- Focus on ONE clear pain point\n- Offer a simple solution (AI automation / workflow / revenue improvement)\n- End with a soft CTA (not pushy)\n\nInput Data:\nName: {{$json.Name}}\nCompany: {{$json.Company}}\n\n\nOutput Format:\n\nSubject Line: (short & curiosity-driven)\n\nEmail:\nHi {{$json.Name}},\n\n(1-2 lines showing you understand their problem)\n\n(1-2 lines explaining your solution in simple terms)\n\n(Optional: 1 line with a small result or benefit)\n\nSoft CTA (example: \"Worth a quick chat?\" or \"Should I share how this works?\")\n\nKeep it natural, like a real human wrote it.\nDo NOT sound like AI."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "5d9df6bb-6786-432d-b813-bc9b2cff1d48",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"subject\": \"subject\",\n     \"body\": \"body\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        592,
        208
      ],
      "id": "88d88e45-61a3-4a77-86e2-5f64da9fada9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        272,
        208
      ],
      "id": "faa72247-e215-498c-a204-6c6fef6f34ca",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "hnvfGsQuzQIIuzAf",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get row(s) in sheet').item.json.Email }}",
        "subject": "={{ $json.output.subject }}",
        "emailType": "text",
        "message": "={{ $json.output.body }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Ayesha"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        768,
        0
      ],
      "id": "06a281d8-afce-48ab-ba19-a841e2c786f6",
      "name": "Send a message",
      "webhookId": "b4fe8662-e13b-4c86-9804-d455ce689ccc",
      "credentials": {
        "gmailOAuth2": {
          "id": "ThUq9EYLCrhNMJ7y",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1vIWT1YH4kSvU4kkYpuMJh_bgiTG_CWtNMK8Hk-a7nqw",
          "mode": "list",
          "cachedResultName": "Demo lead for gmail bot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vIWT1YH4kSvU4kkYpuMJh_bgiTG_CWtNMK8Hk-a7nqw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vIWT1YH4kSvU4kkYpuMJh_bgiTG_CWtNMK8Hk-a7nqw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Status": "Sent"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        0
      ],
      "id": "003585d9-2383-4978-9a0b-762be7d024c0",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u8PRmSgbn2k0IPMY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c9cfbd06-43d0-4dd3-89e8-90962ded8246",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ded78c9dc7e7af599b55e7c1a5ad906c4be173f498ff57ad2c23495f03581d67"
  },
  "id": "yOwdVRGIhQjzEmOl",
  "tags": []
}